.carousel-caption{
    left: 0;
    right: 50%;
    bottom: 250px;
}
.checked{
    color: orange;
}


.navbar-dark .navbar-nav .nav-link {
    color: black;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: black;
}

@media (max-width: 767px)
{
    nav {
        background-color: black;!important;
    }
    .navbar-dark .navbar-nav .nav-link {
    color: white;
    }
    .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: white;
    }
    .text-center {
    text-align: left!important;
    }
}

@media (max-width: 450px)
{
    .card-img{
        height: 350px;
    }
}

.spisok_uslug a{
    color: white;
}