{% extends 'index.html' %}
{% load static %}
{% block title %}
    Детейлинг химчистка салона
{% endblock %}
{% block meta_desc %}
        <meta name="description" content="Детейлинг химчистка салона" />
{% endblock %}
{% block content %}
    {% if messages %}

        {% for message in messages %}
            <button hidden type="button" id="quikzapis-recall" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter1">
              Launch demo modal
            </button>

            <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 aria-invalid="zapis-title" class="modal-title" id="zapis-title">Заявка отправлена</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" id="zapis-body">
                        <h3>Ваша заявка отправлена, менеджер вам перезвонит в ближайшее время для уточнения информации!</h3>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
    {% endif %}

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'index' %}#services">Услуги</a></li>
            <li class="breadcrumb-item active" aria-current="page">Детейлинг химчистка салона</li>
          </ol>
        </nav>

    <div class="container">
        <h1>Детейлинг химчистка салона</h1>
        <hr>
        <h4>
            Профессиональная детейлинг химчистка салона автомобиля: полная очистка кожи и текстиля сидений, руля, потолка, багажника от любых загрязнений.
        </h4>
        <hr>
        <img class="img-fluid" src="{% static 'polirovka_usluga.jpg' %}" alt="">

        <table class="table table-bordered mt-5">
          <thead>
            <tr>
              <th scope="col"  data-container="body" data-toggle="popover" data-placement="top" data-content="Kia Picanto, Hyundai Getz, Ford Fiesta, Chevrolet Spark, Citroen C1, C2c, Daewoo Matiz, Peugeot 107, 108">
                  1 класс
              </th>
              <th scope="col"  data-container="body" data-toggle="popover" data-placement="top" data-content="Kia Rio Ceed, Hyundai Solaris, Skoda Fabia, BMW 1-3, Audi a1-a4">
                  2 класс
              </th>
              <th scope="col"  data-container="body" data-toggle="popover" data-placement="top" data-content="Skoda Octavia, Superb, BMW 4 5, X1-X4, Toyota Rav-4, Kia Sportage">
                  3 класс
              </th>
              <th scope="col"  data-container="body" data-toggle="popover" data-placement="top" data-content="BMW 7 series, X5-X7, Range-Rover, Cadillac Escalade">
                  4 класс
              </th>
              <th scope="col"  data-container="body" data-toggle="popover" data-placement="top" data-content="Mercedes-Benz Viano, Sptinter , Ford Trasit">
                  5 класс
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>от 2000р</td>
              <td>от 2500р</td>
              <td>от 3000р</td>
              <td>от 4000р</td>
              <td>от 5000р</td>
            </tr>
          </tbody>
        </table>

        <h4>
            Все поверхности салона автомобиля в меньшей или большей степени подвержены скоплению пыли, впитыванию грязи, жира и неприятных запахов, но самое вредное и опасное — скопление вредоносных бактерий, в том числе вызывающих аллергию и другие заболевания.
            <br>
            <br>
            Химчистку салона автомобиля рекомендуется проводить не реже одного-двух раз в году.
            Особенно это актуально для владельцев авто со светлым салоном.
            <br>
            <br>
            Безусловно, главная цель чистки салона – убрать видимые загрязнения и освежить внешний вид. Комплексная химчистка справляется с этой задачей на “отлично”, очищая все труднодоступные места и обновляя внешние поверхности салона, потолка и сидений (вне зависимости от того, из какого материала они изготовлены). Наши мастера используют экологически чистые моющие средства и ароматизаторы, которые безопасны для человека и не вызывают аллергических реакций.
        </h4>

        <h1 class="mt-3">Заявка на прием автомобиля</h1>
        <form class="mb-5" action="{% url 'himchistka' %}" method="post">
                    {% csrf_token %}
                      <div class="form-group">
                        <label for="perezvon_name">Имя</label>
                        <input name="perezvon_name" type="text" class="form-control" id="perezvon_name" aria-describedby="emailHelp">
                      </div>
                      <div class="form-group">
                        <label for="perezvon_phone">Номер телефона</label>
                        <input name="perezvon_phone" type="text" class="form-control" id="perezvon_phone">
                      </div>
                      <div class="form-group">
                        <label for="perezvon_phone">Марка и модель авто</label>
                        <input name="perezvon_car" type="text" class="form-control" id="perezvon_phone">
                      </div>
                      <input name="perezvon_sluga" type="text" hidden value="Детейлинг химчистка салона">

                      <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>


{% endblock %}

{% block scripts %}
    <script>
        $(function () {
          $('[data-toggle="popover"]').popover()
        })
    </script>
{% endblock %}