{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="детейлинг, химчистка, полировка, уход за автомобилем, керамика, жидкое стекло, мойка автомобиля">
    {% block meta_desc %}
            <meta name="description" content="Pro-Styling — детейлинг центр нового уровня по лучшеиу уходу за автомобилем. Мы оказываем как комплексные услуги по детейлингу, так и конкретные услуги, начиная от премиум-мойки и химчистки, заканчивая полировкой, локальной покраской и нанесением различных защитных покрытий." />
    {% endblock %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap" rel="stylesheet">
    {% block css_scr %}

    {% endblock %}
    <title>{% block title %}
    Pro-styling
    {% endblock %}</title>
</head>
<body style="font-family: 'Oswald', sans-serif; font-weight: 400">
<div  class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="font-family: 'Oswald', sans-serif; font-weight: 400" class="modal-title" id="exampleModalCenterTitle">Заказать обратный звонок</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'recall' %}" method="post">
                    {% csrf_token %}
                      <div class="form-group">
                        <label for="perezvon_name">Имя</label>
                        <input name="perezvon_name" type="text" class="form-control" id="perezvon_name" aria-describedby="emailHelp">
                      </div>
                      <div class="form-group">
                        <label for="perezvon_phone">Номер телефона</label>
                        <input name="perezvon_phone" type="text" class="form-control" id="perezvon_phone">
                      </div>

                      <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
            </div>

        </div>
    </div>
</div>
    <div style="background-color: black;color: white;font-family: 'Oswald', sans-serif; font-weight: 400" class="d-none d-md-block">
        <nav class="navbar">
            <div>
                <a href="{% url 'index' %}" class="navbar-brand"><img style="width: 150px" src="{% static 'logo.jpg' %}" alt=""></a>
                <a class="ml-2" href="https://instagram.com/pro__styling?igshid=1dwyksmp4cnog"><img style="height: 25px" src="{% static 'icons8-instagram-50.png' %}" alt=""></a>
                <a class="ml-2" href="https://vk.com/pro__styling"><img style="height: 25px" src="{% static 'icons8-vk-circled-50.png' %}" alt=""></a>
                <a class="ml-2" href="https://api.whatsapp.com/send?phone=79787273217"><img style="height: 25px" src="{% static 'icons8-signal-app-50.png' %}" alt=""></a>
            </div>

            <span class="navbar-text">
                <span class="mr-2">г. Симферополь, пр-Победы, д. 130</span>
                <span class="mr-2"><a href="tel:+79787273217">+7(978)-727-32-17</a></span>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Перезвоните мне</button>
            </span>

        </nav>
    </div>
    <nav  class="navbar navbar-expand-md navbar-dark navbar-center">
        <a class="navbar-brand d-md-none" href="{% url 'index' %}"><img style="width: 150px" src="{% static 'logo.jpg' %}" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div  class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if request.get_full_path == "/" %}
                <ul class="navbar-nav w-100 row-cols-5 text-center" style="font-family: 'Oswald', sans-serif; font-weight: 600">
                    <li class="nav-item ">
                        <a class="nav-link anch" id="btn-nav-1" href="#services">Услуги<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link anch" id="btn-nav-3" href="#reviews">Отзывы</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link anch" id="btn-nav-2" href="#contacts">Контакты</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link anch" id="btn-nav-4" href="#works">Наши работы</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link anch" id="btn-nav-5" href="#company">О компании</a>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav w-100 row-cols-5 text-center" style="font-family: 'Oswald', sans-serif; font-weight: 600">
                    <li class="nav-item ">
                        <a class="nav-link anch" id="btn-nav-1" href="{% url 'index' %}#services">Услуги<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link anch" id="btn-nav-3" href="{% url 'index' %}#reviews">Отзывы</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link anch" id="btn-nav-2" href="{% url 'index' %}#contacts">Контакты</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link anch" id="btn-nav-4" href="{% url 'index' %}#works">Наши работы</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link anch" id="btn-nav-5" href="{% url 'index' %}#company">О компании</a>
                    </li>
                </ul>
            {% endif %}

        </div>

    </nav>


{% block content %}



    <!-- Modal -->
    {% if messages %}

        {% for message in messages %}
            <button hidden type="button" id="quikzapis-recall" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter1">
              Launch demo modal
            </button>

            <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 aria-invalid="zapis-title" class="modal-title" id="zapis-title">Заявка отправлена</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" id="zapis-body">
                        <h3>Ваша заявка отправлена, менеджер вам перезвонит в ближайшее время для уточнения информации!</h3>
                        <div class="text-center">
                            <button id="himkabtn5" type="button" class="btn btn-primary mt-3">Заказать новую услугу</button>
                        </div>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}

        {% else %}
            <button hidden type="button" id="quikzapis" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter1">
              Launch demo modal
            </button>
            <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 aria-invalid="zapis-title" class="modal-title" id="zapis-title">Хотите записаться на мойку, полировку или химчистку авто ? </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" id="zapis-body">
                        <div class="container">
                            <div class="row">
                                <button id="dabtn1" type="button" class="col-6 btn btn-primary">Да</button>
                                <button type="button" class="col-6 btn btn-secondary" data-dismiss="modal">Нет</button>
                            </div>
                        </div>
                  </div>
                </div>
              </div>
            </div>
    {% endif %}


    <div id="carouselExampleCaptions" class="carousel slide d-none d-lg-block" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img style="height: 450px;" src="{% static 'himchistka.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Полировка кузова автомобиля</h1>
                    <h6>Заставим авто снова блестеть</h6>
                </div>
            </div>
            <div class="carousel-item">
                <img style="height: 450px;" src="{% static 'polirovka.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Химчистка салона автомобиля</h1>
                    <h6>Придадим салону авто новый облик </h6>
                </div>
            </div>
            <div class="carousel-item">
                <img style="height: 450px;" src="{% static 'moika.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Детейлинг мойка кузова</h1>
                    <h6>Удалим 99,9% загрязнения на кузове</h6>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>



    <div class="container" id="services">
        <h1 class="text-center mt-5">Наши услуги</h1>
        <div class="row">
            <div class="col-12 col-lg-6 mt-3">
                <div class="card bg-dark text-white">
                    <img src="{% static 'yslyga-kyzov.jpg' %}" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h3 class="card-title">Кузов авто</h3>
                            <ul class="spisok_uslug">
                                <li class="mt-1"><a href="{% url 'detailing_car_wash' %}">Детейлинг мойка кузова</a></li>
                                <li class="mt-1"><a href="{% url 'detailing_motor_wash' %}">Детейлинг мойка моторного отсека</a></li>
                                <li class="mt-1"><a href="{% url 'polirovka_kuzova' %}">Полировка кузова</a></li>
                                <li class="mt-1"><a href="{% url 'pokritie_keramica' %}">Покрытие кузова керамической защитой</a></li>
                                <li class="mt-1"><a href="{% url 'pokritie_steklo' %}">Покрытие кузова жидким стеклом</a></li>
                                <li class="mt-1"><a href="{% url 'pokritie_antidojd' %}">Покрытие лобового стекла составом (антидождь)</a></li>
                                <li class="mt-1"><a href="{% url 'polirovka_optiki' %}">Полировка оптики</a></li>
                            </ul>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mt-3">
                <div class="card bg-dark text-white">
                    <img src="{% static 'salon-yslyga.jpg' %}" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h3 class="card-title">Салон авто</h3>
                            <ul class="spisok_uslug">
                                <li class="mt-1"><a href="{% url 'himchistka' %}">Детейлинг химчистка салона</a></li>
                                <li class="mt-1"><a href="{% url 'zashchitnye_pokrytiya_leather' %}">Покрытие кожи керамическим составом</a></li>
                                <li class="mt-1"><a href="{% url 'zashchitnye_pokrytiya_tex' %}">Покрытие текстиля салона защитным составом</a></li>
                                <li class="mt-1"><a href="{% url 'polirovka_interier' %}">Полировка глянцевых панелей интерьера</a></li>
                                <li class="mt-1"><a href="{% url 'ozonirovanie' %}">Озонирование салона</a></li>
                            </ul>
                        <hr>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="text-center mt-5" id="reviews">Отзывы</h1>
            <div class="row">
                {% for otz in otziv %}
                    <div class="col-3">
                        <div class="card" style="width: 18rem;">
                          <div class="card-body">
                            <h5 class="card-title">{{ otz.author_name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ otz.date }}</h6>
                            <p class="card-text">{{ otz.text }}</p>

                          </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        <h5 class="text-center mt-3"><a style="color: #000000" href="{% url 'reviews' %}"><button type="button" class="btn btn-secondary btn-lg btn-block">Больше отзывов</button></a></h5>

        <h1 class="text-center mt-5" id="contacts">Контакты</h1>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <h5>Детейлинг центр</h5>
                    <span>г. Симферополь, пр-Победы, д. 130</span>
                    <hr>
                    <h5>+7-978-727-32-17</h5>
                    <hr>
                    <h5>Наши соцсети</h5>
                    <div>
                        <a class="ml-2" href="https://instagram.com/pro__styling?igshid=1dwyksmp4cnog"><img style="height: 25px" src="{% static 'icons8-instagram-50 (2).png' %}" alt=""></a>
                        <a class="ml-2" href="https://vk.com/pro__styling"><img style="height: 25px" src="{% static 'icons8-vk-circled-50 (1).png' %}" alt=""></a>
                        <a class="ml-2" href="https://api.whatsapp.com/send?phone=79787273217"><img style="height: 25px" src="{% static 'icons8-signal-app-50 (1).png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mt-2" id="YaMaps">
                </div>
            </div>
        <h1 id="works" class="text-center mt-5">Наши работы</h1>
        <div class="row">
              {% for r in raboti %}
                  <div class="col-12 col-lg-3 mt-2">
                    <div class="card">
                        <a style="color: black" href="{% url 'works_detail' r.id %}">
                            <img style="height: 200px" src="{{ r.raboti_photo_set.first.photo.url }}" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">{{ r.opisanie }}</h5>
                              <p class="card-text"><small class="text-muted">{{ r.date }}</small></p>
                            </div>
                        </a>
                    </div>
                  </div>
              {% endfor %}



        </div>
        <h5 class="text-center mt-3"><a style="color: #000000" href="{% url 'works' %}"><button type="button" class="btn btn-secondary btn-lg btn-block">Больше работ</button></a></h5>
        <h1 id="company" class="text-center mt-5">О компании</h1>
        <h5 class="mb-5">
            Pro-Styling – профессиональный детейлинг центр в России, открытый с 2018 года.
            Компания гарантирует премиальное отношение к каждому автомобилю и безупречный сервис его владельцу.
            <br>
            <br>
            Мы находимся в Симферополе, на проспекте Победы в отдельно стоящем здании.
            У нас собрана большая команда профессионалов, которые обладают опытом и всеми необходимыми знаниями в сфере детейлинга. В нашем арсенале всегда находится современное оборудование и качественная автомобильная косметика от ведущих мировых производителей.
            <br><br>
            Мы постоянно расширяем список наших услуг, работаем над качеством, увеличиваем пропускную способность центра, работаем над развитием наших социальных сетей и рекламой.

        </h5>

    </div>
{% endblock %}

    <footer style="background-color: #222222" class="pt-5">
        <div class="container text-white">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h5 class="mb-3">Адресс: г. Симферополь, пр-Победы, д. 130</h5>
                    <h5 class="mb-3">Принимаем и консультируем: с 10:00 до 20:00</h5>
                    <p>© 2018-2020 Детейлинг центр «Pro-Styling».и</p>
                </div>
                <div class="col-12 col-md-6">
                    <h5 class="mr-2"><a style="color: white;" href="tel:+79787273217">+7(978)-727-32-17</a></h5>
                    <div>
                            <a class="ml-2" href="https://instagram.com/pro__styling?igshid=1dwyksmp4cnog"><img style="height: 25px" src="{% static 'icons8-instagram-50.png' %}" alt=""></a>
                            <a class="ml-2" href="https://vk.com/pro__styling"><img style="height: 25px" src="{% static 'icons8-vk-circled-50.png' %}" alt=""></a>
                            <a class="ml-2" href="https://api.whatsapp.com/send?phone=79787273217"><img style="height: 25px" src="{% static 'icons8-signal-app-50.png' %}" alt=""></a>
                    </div>
                    <br>
                    <h5>
                        <p>Режим работы:</p>
                        <p>Пн-СБ с 10:00 до 20:00</p>
                        <p>ВС выходной</p>

                    </h5>
                </div>

            </div>

        </div>

        <div class="text-right p-3" style="background-color: #333333"></div>
    </footer>






<!-- Optional JavaScript -->



<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script type="text/javascript">
document.querySelectorAll('a.anch[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
        e.preventDefault();

        document.querySelector(this.getAttribute('href')).scrollIntoView({
            behavior: 'smooth'
        });
    });
});
</script>

<script>
    $(document).ready(function(){
        $('#quikzapis-recall').trigger('click');

    });
</script>

<script>
    YaMapsShown = false;

    $(document).ready(function (){

     $(window).scroll(function() {
        if (!YaMapsShown){
         if($(window).scrollTop() + $(window).height() > $(document).height() - 3500) {
          showYaMaps();
          YaMapsShown = true;
         }
        }
     });

    });

    function showYaMaps(){
     var script   = document.createElement("script");
     script.type  = "text/javascript";
     script.src   = "https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Affaa16cd27e697cae561cc5e9c4d49e8b100e2b87ee3ff7e697b6c973fa63061&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true";
     document.getElementById("YaMaps").appendChild(script);
    };



</script>

{% if pokaz %}
    <script>
    $(document).ready(function(){
      // set time out 5 sec
         setTimeout(function(){
            $('#quikzapis').trigger('click');
        }, 10000);
    });
</script>
{% endif %}

<script>
    var csrftoken = '{{ csrf_token }}';
</script>




{% block scripts %}

<script src="{% static 'zapis.js' %}"></script>

{% endblock %}


</body>
</html>