{% extends 'index.html' %}
{% load static %}
{% block title %}
    Покрытие кузова керамической защитой
{% endblock %}
{% block meta_desc %}
        <meta name="description" content="Покрытие кузова керамической защитой" />
{% endblock %}
{% block content %}
    {% if messages %}

        {% for message in messages %}
            <button hidden type="button" id="quikzapis-recall" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter1">
              Launch demo modal
            </button>

            <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 aria-invalid="zapis-title" class="modal-title" id="zapis-title">Заявка отправлена</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" id="zapis-body">
                        <h3>Ваша заявка отправлена, менеджер вам перезвонит в ближайшее время для уточнения информации!</h3>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
    {% endif %}

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'index' %}#services">Услуги</a></li>
            <li class="breadcrumb-item active" aria-current="page">Покрытие кузова керамической защитой</li>
          </ol>
        </nav>

    <div class="container">
        <h1>Покрытие кузова керамической защитой</h1>
        <hr>
        <h4>
            Керамическое покрытие на ватомобиль
        </h4>
        <hr>
        <img class="img-fluid" src="{% static 'keramica.jpg' %}" alt="">

        <table class="table table-bordered mt-5">
          <thead>
            <tr>
              <th scope="col"  data-container="body" data-toggle="popover" data-placement="top" data-content="Kia Picanto, Hyundai Getz, Ford Fiesta, Chevrolet Spark, Citroen C1, C2c, Daewoo Matiz, Peugeot 107, 108">
                  1 класс
              </th>
              <th scope="col"  data-container="body" data-toggle="popover" data-placement="top" data-content="Kia Rio Ceed, Hyundai Solaris, Skoda Fabia, BMW 1-3, Audi a1-a4">
                  2 класс
              </th>
              <th scope="col"  data-container="body" data-toggle="popover" data-placement="top" data-content="Skoda Octavia, Superb, BMW 4 5, X1-X4, Toyota Rav-4, Kia Sportage">
                  3 класс
              </th>
              <th scope="col"  data-container="body" data-toggle="popover" data-placement="top" data-content="BMW 7 series, X5-X7, Range-Rover, Cadillac Escalade">
                  4 класс
              </th>
              <th scope="col"  data-container="body" data-toggle="popover" data-placement="top" data-content="Mercedes-Benz Viano, Sptinter , Ford Trasit">
                  5 класс
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="2">от 6000р</td>
              <td>от 7000р</td>
              <td>от 9000р</td>
              <td>от 10 000р</td>
            </tr>
          </tbody>
        </table>

        <h4>
            Керамика на авто представляет собой твёрдый слой специального материала, который образует своего рода «броню» на кузове.
            <br>
            <br>
            При взаимодействии с лаковым слоем защитное керамическое покрытие создает высокопрочную полимерную пленку на поверхности, предохраняющую кузов автомобиля от химических и механических воздействий.
            <br>
            <br>
            В результате покрытия авто керамикой увеличивается твердость лакокрасочного покрытия, возрастает устойчивость кузова к царапинам. Оксид титана, входящий в состав покрытия, обеспечивает фильтрацию ультрафиолетового излучения, тем самым защищая кузов от выгорания.
            <br>
            <br>
            Одним из важных качеств автокерамики является эффект самоочищения: вода и грязь мгновенно скатывается с кузова, а зимой на автомобиль не намерзает лёд.
        </h4>

        <h1 class="mt-3">Заявка на прием автомобиля</h1>
        <form class="mb-5" action="{% url 'pokritie_keramica' %}" method="post">
                    {% csrf_token %}
                      <div class="form-group">
                        <label for="perezvon_name">Имя</label>
                        <input name="perezvon_name" type="text" class="form-control" id="perezvon_name" aria-describedby="emailHelp">
                      </div>
                      <div class="form-group">
                        <label for="perezvon_phone">Номер телефона</label>
                        <input name="perezvon_phone" type="text" class="form-control" id="perezvon_phone">
                      </div>
                      <div class="form-group">
                        <label for="perezvon_phone">Марка и модель авто</label>
                        <input name="perezvon_car" type="text" class="form-control" id="perezvon_phone">
                      </div>
                      <input name="perezvon_sluga" type="text" hidden value="Покрытие кузова керамикой ">

                      <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>


{% endblock %}

{% block scripts %}
    <script>
        $(function () {
          $('[data-toggle="popover"]').popover()
        })
    </script>
{% endblock %}