{% extends 'index.html' %}
{% load static %}
{% block title %}
    Полировка глянцевых панелей интерьера
{% endblock %}
{% block meta_desc %}
        <meta name="description" content="Полировка глянцевых панелей интерьера" />
{% endblock %}
{% block content %}
    {% if messages %}

        {% for message in messages %}
            <button hidden type="button" id="quikzapis-recall" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter1">
              Launch demo modal
            </button>

            <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 aria-invalid="zapis-title" class="modal-title" id="zapis-title">Заявка отправлена</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" id="zapis-body">
                        <h3>Ваша заявка отправлена, менеджер вам перезвонит в ближайшее время для уточнения информации!</h3>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
    {% endif %}

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'index' %}#services">Услуги</a></li>
            <li class="breadcrumb-item active" aria-current="page">Полировка глянцевых панелей интерьера</li>
          </ol>
        </nav>

    <div class="container">
        <h1>Полировка глянцевых панелей интерьера</h1>
        <hr>
        <h4>
           Полировка салона авто с устранением царапин и пятен на лаке и пластике, с восстановлением блеска и защитных свойств материала.
        </h4>
        <hr>
        <img class="img-fluid" src="{% static 'polirovka_interier.jpg' %}" alt="">

        <table class="table table-bordered mt-5">
          <thead>
            <tr>
              <th scope="col"  data-container="body" data-toggle="popover" data-placement="top" data-content="Kia Picanto, Hyundai Getz, Ford Fiesta, Chevrolet Spark, Citroen C1, C2c, Daewoo Matiz, Peugeot 107, 108">
                  1 класс
              </th>
              <th scope="col"  data-container="body" data-toggle="popover" data-placement="top" data-content="Kia Rio Ceed, Hyundai Solaris, Skoda Fabia, BMW 1-3, Audi a1-a4">
                  2 класс
              </th>
              <th scope="col"  data-container="body" data-toggle="popover" data-placement="top" data-content="Skoda Octavia, Superb, BMW 4 5, X1-X4, Toyota Rav-4, Kia Sportage">
                  3 класс
              </th>
              <th scope="col"  data-container="body" data-toggle="popover" data-placement="top" data-content="BMW 7 series, X5-X7, Range-Rover, Cadillac Escalade">
                  4 класс
              </th>
              <th scope="col"  data-container="body" data-toggle="popover" data-placement="top" data-content="Mercedes-Benz Viano, Sptinter , Ford Trasit">
                  5 класс
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="3">от 1000р</td>
              <td colspan="2">от 2000р</td>
            </tr>
          </tbody>
        </table>

        <h4>
            Лакированные вставки в салоне выглядет очень дорого и премиально! Но к сожалению, со временем теряют свой внешний вид - легко царапаются и затираются! Полировка лакированных вставок вернет вашему любимому автомобилю первоначальный блеск без дорогостоящего ремонта! Все повреждения и потертости будут бережно удалены, а лакированные вставки засияют, как будто их заменили на новые! Салон автомобиля получит свежий и ухоженный вид без дорогостоящих ремонтов!
            <br>
            <br>
            Обработка текстильных поверхностей салона специальными защитными составами предотвращает впитывание влаги и неприятных запахов, а пролитая на обработанное сиденье жидкость просто скатывается с него, собираясь в шарики.
            Защитный эффект сохраняется до 1 года.

        </h4>

        <h1 class="mt-3">Заявка на прием автомобиля</h1>
        <form class="mb-5" action="{% url 'polirovka_interier' %}" method="post">
                    {% csrf_token %}
                      <div class="form-group">
                        <label for="perezvon_name">Имя</label>
                        <input name="perezvon_name" type="text" class="form-control" id="perezvon_name" aria-describedby="emailHelp">
                      </div>
                      <div class="form-group">
                        <label for="perezvon_phone">Номер телефона</label>
                        <input name="perezvon_phone" type="text" class="form-control" id="perezvon_phone">
                      </div>
                      <div class="form-group">
                        <label for="perezvon_phone">Марка и модель авто</label>
                        <input name="perezvon_car" type="text" class="form-control" id="perezvon_phone">
                      </div>
                      <input name="perezvon_sluga" type="text" hidden value="Полировка глянцевых панелей интерьера">

                      <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>


{% endblock %}

{% block scripts %}
    <script>
        $(function () {
          $('[data-toggle="popover"]').popover()
        })
    </script>
{% endblock %}