{% extends 'index.html' %}
{% load static %}
{% block css_scr %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
{% endblock %}
{% block title %}
    Наша работа
{% endblock %}
{% block content %}



        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'works' %}">Наши работы</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ r.opisanie }}</li>
          </ol>
        </nav>

    <div class="container">
        <h1>{{ r.opisanie }}</h1>
        <p>{{ r.date }} / Pro Styling /</p>
        <a data-fancybox="gallery" href="{{ r.raboti_photo_set.first.photo.url }}"><img class="img-fluid" src="{{ r.raboti_photo_set.first.photo.url }}"></a>
        <h5 class="mt-3 mb-3">{{ r.text }}</h5>
        <div class="row">
            {% for p in r.raboti_photo_set.all %}
                <div class="col-3">
                  <a data-fancybox="gallery" href="{{ p.photo.url }}"><img class="img-fluid" src="{{ p.photo.url }}"></a>
                </div>
            {% endfor %}
        </div>

        <h3 class="mt-3">Заявка на прием автомобиля</h3>
        <form class="mb-5" action="{% url 'recall' %}" method="post">
                    {% csrf_token %}
                      <div class="form-group">
                        <label for="perezvon_name">Имя</label>
                        <input name="perezvon_name" type="text" class="form-control" id="perezvon_name" aria-describedby="emailHelp">
                      </div>
                      <div class="form-group">
                        <label for="perezvon_phone">Номер телефона</label>
                        <input name="perezvon_phone" type="text" class="form-control" id="perezvon_phone">
                      </div>
                      <div class="form-group">
                        <label for="perezvon_phone">Марка и модель авто</label>
                        <input name="perezvon_car" type="text" class="form-control" id="perezvon_phone">
                      </div>
                      <input name="perezvon_sluga" type="text" hidden value="Хочет детейлинг">

                      <button type="submit" class="btn btn-primary">Отправить</button>
        </form>

    </div>
{% endblock %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
{% endblock %}