{% extends 'index.html' %}
{% load static %}
{% block title %}
Отзывы от наших клиентов
{% endblock %}
{% block content %}


    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Отзывы</li>
      </ol>
    </nav>

    <div class="container">
        <h1>Добавьте ваш отзыв</h1>
        <p>Нам интересно ваше мнение</p>
        <hr>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Добавить отзыв
        </button>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
              <form action="{% url 'rev_add' %}" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Имя</label>
                    <input name="name_author" type="text" class="form-control" id="exampleFormControlInput1">
                  </div>

                  <div onmousedown="return false" onselectstart="return false">
                        <label for="">Рейтинг</label>
                        <input id="rating_review" type="hidden" name="r_1" value="">
                        <input id="date_rev" type="hidden" name="date_rev" value="">
                        <span id="r_minus"><ion-icon name="remove-circle-outline"></ion-icon></span>
                        <span class="fa fa-star" id="r_sp0"></span>
                        <span class="fa fa-star" id="r_sp1"></span>
                        <span class="fa fa-star" id="r_sp2"></span>
                        <span class="fa fa-star" id="r_sp3"></span>
                        <span class="fa fa-star" id="r_sp4"></span>
                        <span id="r_plus"><ion-icon name="add-circle-outline"></ion-icon></span>
                  </div>

                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Отзыв</label>
                    <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Отправить</button>

                </form>
          </div>
        </div>


        {% for otz in otziv %}
            <hr>
            <div style="border-left: #007BFF solid 5px" class="p-3">
                <h3>
                    {% if otz.rating == 1 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    {% endif %}
                    {% if otz.rating == 2 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    {% endif %}
                    {% if otz.rating == 3 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    {% endif %}
                    {% if otz.rating == 4 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    {% endif %}
                    {% if otz.rating == 5 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    {% endif %}

                        {{ otz.author_name }} о Pro-Styling
                </h3>
                <p>{{ otz.date }}</p>
                <h5>{{ otz.text }}</h5>
            </div>
            <div style="border-left: #007BFF solid 5px"  class="ml-5 mt-4 pl-3 pb-3">
                <h5>{{ otz.comment }}</h5>
            </div>
            <hr>
        {% endfor %}


    </div>

{% endblock %}

{% block scripts %}



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
<script>
            var rating = 0;
            $("#rating_review").val(rating);
            $("#r_plus").click(function () {
                rating++;
                if (rating>5){
                    rating=5
                };
                for (i=0;i<rating;i++){
                  $("#r_sp"+i).addClass('checked')
                };
                $("#rating_review").val(rating)
            })
    $("#r_minus").click(function () {
                rating--;
                if (rating<0){
                    rating=0
                };
                $("#r_sp"+rating).removeClass("checked")
                $("#rating_review").val(rating)
            })
</script>
<script>
    var d = new Date();

    var month = d.getMonth()+1;
    var day = d.getDate();

    var output = (day<10 ? '0' : '') + day + '.'+
                 (month<10 ? '0' : '') + month + '.' +
                 d.getFullYear();

    $("#date_rev").val(output);
</script>

{% endblock %}