{% extends 'index.html' %}
{% load static %}
{% block title %}
Наши работы
{% endblock %}
{% block content %}

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Наши работы</li>
      </ol>
    </nav>

    <div class="container">
        <h1>Наши работы</h1>
        <div class="row">
              {% for r in raboti %}
                  <div class="col-12 col-lg-3 mt-3">
                    <div class="card">
                        <a style="color: black" href="{% url 'works_detail' r.id %}">
                            <img style="height: 200px" src="{{ r.raboti_photo_set.first.photo.url }}" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">{{ r.opisanie }}</h5>
                              <p class="card-text"><small class="text-muted">{{ r.date }}</small></p>
                            </div>
                        </a>
                    </div>
                  </div>
              {% endfor %}
        </div>
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}